.rodapie{
    margin: 20px 100px;
    text-align: center;
    line-height: 1.5rem;
}

.ainicio{
    position: fixed;
    margin: 85vh 0 0 95vw;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    border-radius: 50%;
    background: var(--color3);
    color: var(--color1);
    cursor: pointer;
    color: black;
    height: 40px;
    width: 40px;
}

.ainicio a:hover{
    text-decoration: none;
}

.rodapie__img:hover, .ainicio:hover{
    transform: scale(1.15);
}

.rodapie__img{
    width: 25px;
}
