#login__field{
    display: none;
}

.login__data{
    background: linear-gradient(white 30%, var(--color4), white);   
    margin: 100px 0; 
    padding: 40px;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
}

.input__login{
    width: 50vw;
    margin: 20px;
    border: none;
    border-bottom: 3px solid var(--color5);
    outline: none;
    height: 2rem;
    padding: 12px;
    border-radius: 10px;
}

.login__data button{
    width: 40vw;
    background: var(--color5);
    border-radius: 10px;
    padding: 12px;
    border-color: var(--color5);
    color: aliceblue;
}